// @import "./method";

@import "./commont.scss";


// 头部start
.index-header {
    @include eleSize(750,150);
    @include flex(space-around);
    // background-color: pink;
    .logo {
        @include eleSize(123,123);
        background: url(../images/index/LOGO.png) no-repeat 0 0 / 100%;
    } 
}
// 头部end

// banner start
.scr-pic {
    @include eleSize(750,285);
    @include posiTL(relative);
    overflow: hidden;
    margin-bottom: wh(35);
    ul {
        width: 300%;
        height: wh(285);
        li {
            
            float: left;
            a {
                display: inline-block;
                width: 100%; 
                img {
                    @include eleSize(750,285);
                }
            }
        }
    }
    .scr-bar {
        @include eleSize(750,12);
        @include posiBR(absolute,0,0);
        bottom: 0;
        background-color: rgba( 0,0,0,.4);
        .bar {
            @include eleSize(130,12);
            @include posiTL(absolute,0,200);
            background-color:#c8c7c7;
        }
    }
}
// banner end

//  main start

.main {
    @include flex;
    
   .buying {
        @include flex;
        margin-bottom: wh(35);
        // span {
        //     display: inline-block;
        // }
        .buying-logo {
            @include bgcJL(0,-169);
        }
        // background-color: #ccc;
        
        .buying-content {
            @include flex(space-between,space-between);
            align-content: space-between;
            @include eleSize(586,216);
            a {
                @include eleSize(240,94);
                img {
                    @include eleSize(240,94);
                }
            }
        }
    }
   .guess-like{
        // margin-bottom: wh(136);
        .guess-logo{
            @include bgcJL(-85,-169);
        }
        .guess-content {
            // height: wh(390);
           .guess-list {
               li {
                    @include flex(space-between);
                    h2,h3,p,span {
                        display: inline-block;
                        font-weight: normal;
                    }
                    .guess-img {
                        @include posiTL(relative);
                        overflow: hidden;
                        @include eleSize(210,164);
                        img {
                            @include posiTL(absolute,0,0);
                            left: 50%;
                            top: 50%;
                            transform: translate(-50%,-50%) scale(.6);
                        }
                    }
                    .guess-list-info {
                        & > div {
                            width: wh(485);
                            @include flex(space-between);
                        }
                        @include flex(space-around,flex-start,no-wrap);
                        flex-direction: column;
                        // @include eleSize(485,164);
                        .guess-list-info-top {
                            h2 {
                                font-size: wh(28);
                            }
                            p,span {
                                font-size: wh(18);
                                color: $fontColor1;
                            }
                        }
                        .guess-list-info-middle {
                            font-size: wh(22);
                            color: $fontColor1;
                        }
                        .guess-list-info-bottom {
                            font-size: wh(26);
                            h3,h3>span{
                                color: $fontColor2;
                            }
                            p,p>span {
                                font-size: wh(21);
                                color: $fontColor1;
                            }
                        }
                    }
               }
           } 
        }
   }
}

//  main end 


// footer start 
.nav-footer {
    ul {
        li {
            .icon-index {
                @include bgcJL(0, -85);
            }
        }
    }
}
// footer end