@charset "UTF-8";
/* 
flex($pri, $cou,$flW) 改成flex容器
    参数
    $pri：主轴排列方式 默认center
    $cou：副轴单行排列方式 默认center
    $flW：控制是否换行 默认换行（可选）
*/
/*
bgcJL( X , Y) 添加精灵图背景
    参数
    位置 X Y 

*/
/*
eleSize(width, height) 设置宽高
    参数
    width 必填
    height 必填
*/
/*
posiTL(pattern,top,left)
    参数
    定位模式 必填
    上 左  默认 0

posiBR(pattern,bottom,right)
    参数
    定位模式 必填
    下 右 默认 0
*/
/*
aFont($linHei,$afontSize,$fontCol,$bgcCol)
用于a标签设置大小
    参数
    行高 必填
    字体大小 必填
    字体颜色 默认#fff
    背景颜色 默认#fff

*/
body {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  position: relative; }

body, ul, li, html, img, a, div, p, span {
  margin: 0;
  padding: 0; }

a {
  color: #000;
  text-decoration: none; }

li {
  list-style: none; }

main {
  margin-bottom: 18.1333333333vw;
  -webkit-overflow-scrolling: touch; }

a {
  -webkit-tap-highlight-color: transparent;
  -webkit-user-select: none;
  -moz-user-focus: none;
  -moz-user-select: none; }

img {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  -webkit-user-select: none;
  -moz-user-focus: none;
  -moz-user-select: none;
  user-select: none; }

.search {
  position: relative;
  width: 36vw;
  height: 6.6666666667vw;
  line-height: 6.6666666667vw;
  vertical-align: middle;
  border-radius: 3.4666666667vw;
  border: 0.2666666667vw solid #ff9344;
  padding: 0 2.1333333333vw 0; }
  .search::after {
    content: "";
    position: absolute;
    right: 2vw;
    top: 50%;
    transform: translateY(-50%);
    display: block;
    width: 4.8vw;
    height: 4.5333333333vw;
    background: url(../images/1Xicon/搜索矩.png) no-repeat 0 0/100%; }
  .search input {
    width: 29.3333333333vw;
    height: 3.4666666667vw;
    border: none;
    outline: none; }
    .search input::-webkit-input-placeholder {
      font-size: 3.2vw; }

.city {
  width: 20.9333333333vw;
  height: 7.2vw;
  border: 0.2666666667vw solid #ff9344; }
  .city select {
    width: 100%;
    height: 100%;
    line-height: 100%;
    border: none;
    outline: none;
    padding-left: 1.8666666667vw;
    font-size: 3.3333333333vw;
    background-color: transparent;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background: url(../images/index/城市切换下拉.png) no-repeat center right 10%;
    background-size: 4vw 2.1333333333vw; }

.each-col span {
  display: inline-block;
  vertical-align: middle; }
.each-col .each-col-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  width: 94.6666666667vw;
  height: 7.2vw;
  margin-bottom: 2.2666666667vw;
  line-height: 7.2vw; }
  .each-col .each-col-title .each-col-title-logo {
    width: 7.4666666667vw;
    height: 7.2vw;
    vertical-align: middle; }
  .each-col .each-col-title .each-col-title-text {
    font-size: 4vw; }
.each-col .more a {
  font-size: 3.2vw; }
.each-col .ico-rig-jiantou {
  width: 3.4666666667vw;
  height: 3.4666666667vw;
  background-image: url(../images/jinglingtu.png);
  background-repeat: no-repeat;
  background-position: -39.6vw -45.2vw;
  background-size: 61.8666666667vw 56.2666666667vw; }

.commont-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  width: 92.6666666667vw;
  height: 7.7333333333vw;
  line-height: 7.7333333333vw;
  margin: 6.4vw 0 2.4vw; }
  .commont-header .back {
    width: 15.6vw;
    height: 6.8vw;
    line-height: 6.8vw;
    border: 0.4vw solid #ff9344;
    border-radius: 2.2666666667vw;
    text-align: center;
    font-size: 2.6666666667vw;
    font-weight: 600; }
  .commont-header .page-title {
    font-size: 3.3333333333vw; }
  .commont-header .header-info {
    position: relative;
    width: 8.2666666667vw;
    height: 5.6vw;
    background-image: url(../images/jinglingtu.png);
    background-repeat: no-repeat;
    background-position: -45.3333333333vw -33.8666666667vw;
    background-size: 61.8666666667vw 56.2666666667vw; }
    .commont-header .header-info .header-info-num {
      display: block;
      position: absolute;
      top: -1.7333333333vw;
      left: 4.2666666667vw;
      width: 3.6vw;
      height: 3.6vw;
      background: #fa5050;
      border-radius: 50%;
      text-align: center;
      line-height: 3.6vw;
      font-size: 1.6vw;
      color: #fff; }
  .commont-header .header-favorite {
    background-image: url(../images/jinglingtu.png);
    background-repeat: no-repeat;
    background-position: -22.6666666667vw -22.6666666667vw;
    background-size: 61.8666666667vw 56.2666666667vw;
    width: 7.3333333333vw;
    height: 7.3333333333vw; }

.nav-footer {
  width: 100vw;
  height: 18.1333333333vw;
  position: fixed;
  bottom: 0vw;
  right: 0vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  background-attachment: fixed;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  background-color: #fff; }
  .nav-footer ul {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: no-wrap; }
    .nav-footer ul li a {
      display: block;
      text-align: center;
      width: 10.1333333333vw;
      height: 14.1333333333vw; }
      .nav-footer ul li a span {
        display: block;
        width: 10.1333333333vw;
        height: 10.1333333333vw; }
    .nav-footer ul li p {
      font-size: 3.2vw;
      line-height: 4.5333333333vw; }
    .nav-footer ul li .icon-index {
      background-image: url(../images/jinglingtu.png);
      background-repeat: no-repeat;
      background-position: 0vw -11.3333333333vw;
      background-size: 61.8666666667vw 56.2666666667vw; }
    .nav-footer ul li .icon-classify {
      background-image: url(../images/jinglingtu.png);
      background-repeat: no-repeat;
      background-position: -11.4666666667vw 0vw;
      background-size: 61.8666666667vw 56.2666666667vw; }
    .nav-footer ul li .icon-find {
      background-image: url(../images/jinglingtu.png);
      background-repeat: no-repeat;
      background-position: -22.4vw 0vw;
      background-size: 61.8666666667vw 56.2666666667vw; }
    .nav-footer ul li .icon-my {
      background-image: url(../images/jinglingtu.png);
      background-repeat: no-repeat;
      background-position: -33.8666666667vw 0vw;
      background-size: 61.8666666667vw 56.2666666667vw; }

a {
  display: block; }

.commont-header {
  margin-bottom: 4.6666666667vw; }

.every-search {
  width: 92.6666666667vw;
  margin-bottom: 6.2666666667vw; }
  .every-search .search, .every-search .dictionary-wrap {
    margin: 0 auto; }
  .every-search .search {
    margin-bottom: 4.1333333333vw; }
  .every-search p {
    font-size: 3.4666666667vw;
    text-align: center;
    margin-bottom: 2vw; }
  .every-search .dictionary-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    align-content: space-between;
    width: 68.2666666667vw;
    height: 17.3333333333vw; }
    .every-search .dictionary-wrap a {
      width: 16.5333333333vw;
      height: 8.5333333333vw;
      background: #dcdcdc;
      text-align: center;
      line-height: 8.5333333333vw;
      color: #898989; }
      .every-search .dictionary-wrap a:hover {
        background: #ff9344;
        color: #fff; }

.find-main .each-col-title {
  margin-bottom: 4.4vw; }
.find-main .hot-search {
  margin-bottom: 6.5333333333vw; }
  .find-main .hot-search .hot-search-logo {
    background-image: url(../images/jinglingtu.png);
    background-repeat: no-repeat;
    background-position: -54.8vw -38.1333333333vw;
    background-size: 61.8666666667vw 56.2666666667vw; }
  .find-main .hot-search .hot-search-content {
    width: 94.2666666667vw;
    height: 46.9333333333vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap; }
    .find-main .hot-search .hot-search-content .hot-search-content-lf a img {
      width: 37.0666666667vw;
      height: 46.9333333333vw; }
    .find-main .hot-search .hot-search-content .hot-search-content-rig .hot-search-content-rig-top a img {
      width: 55.7333333333vw;
      height: 19.4666666667vw; }
    .find-main .hot-search .hot-search-content .hot-search-content-rig .hot-search-content-rig-bottom {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap;
      width: 55.7333333333vw;
      height: 26.1333333333vw; }
      .find-main .hot-search .hot-search-content .hot-search-content-rig .hot-search-content-rig-bottom a img {
        width: 26.6666666667vw;
        height: 26.1333333333vw; }
.find-main .recommend-search .recommend-search-logo {
  background-image: url(../images/jinglingtu.png);
  background-repeat: no-repeat;
  background-position: -22.5333333333vw -22.5333333333vw;
  background-size: 61.8666666667vw 56.2666666667vw; }
.find-main .recommend-search .recommend-search-content {
  margin-bottom: 2.6666666667vw; }
  .find-main .recommend-search .recommend-search-content .recommend-seacrch-content-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: no-wrap;
    width: 94.5333333333vw;
    height: 26.6666666667vw; }
    .find-main .recommend-search .recommend-search-content .recommend-seacrch-content-item a img {
      width: 30.6666666667vw;
      height: 26.6666666667vw; }

.nav-footer ul li .icon-index {
  background-image: url(../images/jinglingtu.png);
  background-repeat: no-repeat;
  background-position: 0vw 0vw;
  background-size: 61.8666666667vw 56.2666666667vw; }
.nav-footer ul li .icon-classify {
  background-image: url(../images/jinglingtu.png);
  background-repeat: no-repeat;
  background-position: -11.4666666667vw 0vw;
  background-size: 61.8666666667vw 56.2666666667vw; }
.nav-footer ul li .icon-find {
  background-image: url(../images/jinglingtu.png);
  background-repeat: no-repeat;
  background-position: -22.4vw -11.3333333333vw;
  background-size: 61.8666666667vw 56.2666666667vw; }

/*# sourceMappingURL=find.css.map */
