
//  最外层盒子颜色
$box-color1 : #8bc01f;
$box-color2:#3393df;
$box-color3:#ffffff;
$box-color4:#f7f7f7;

// 文本颜色
$fontColor1: #fff;
$fontColor2: #3393df;
$fontColor3:#5d5d5d;

// ----------media ---------
//  ----------- 767 px 以下 ------------
@media screen and (max-width: 767px) {
    html {
         
        // -------layaflash
        .layaflash {
            .layaflash-text { 
                background:url(./../images/family/图层54.png)  no-repeat  right 0  / 4.628866rem 4.628866rem;
                width: auto;
                p ,h3{
                    color: #3b3b3b;
                    font-weight: 600;
                }
            }
        }

        // ----------layaplayer
        .layaplayer {
            .layaplayer-text-wrap {
                background:url(./../images/family/图层55.png) no-repeat left 0 / 3.092784rem 3.092784rem,
                            url(./../images/family/图层57.png) no-repeat right bottom /3.092784rem 3.092784rem; 
                p ,h3{
                    color: #3b3b3b;
                    font-weight: 600;
                }
            }
        }

        //  -------------air-open-st-pub -----------
        .air-open-st-pub {
            .container {
                text-align: center;
                .explain {
                    // text-align: center;
                    p {
                         width: auto;
                    }
                }
                .img-wrap {
                    padding: 0;
                }
            }
        }
    }

}


// ---------- 重定义文本样式
h1 {
    font-size: .391753rem;
    color: $fontColor1;
    display: inline-block;
}
h2 {
    display: inline-block;
    font-size: .309278rem;
    color: $fontColor2;
}
h3 {
    
    font-size: .237113rem;
    color: $fontColor1;
}
h4 {
    font-size: .185567rem;
    color: $fontColor3;
}
h5 {
    font-size: .175258rem;
    color: $fontColor2; 
}
p {
    font-size: .154639rem;
    line-height: .309278rem;
}

.p1 {
    color: $fontColor1;
}

 

// ------ 本页公共样式 -------
// 每个序列数字 
.num {
    margin-right: .103093rem;
    font-size: .360825rem;
    font-weight: 700;
    text-align: center;
    display: inline-block;
    width: .463918rem;
    height: .463918rem;
    line-height: .463918rem;  
    mix-blend-mode: screen;  // 做字体镂空
}
// 第一组序列数字 背景白色
.num-group-1 {
    background-color: $fontColor1;
}
// 第二组数列数字 背景蓝色
.num-group-2 {
    background-color: $fontColor2;
    color: #fff;
    mix-blend-mode: normal;
}

//  ----3 4 5 6 家族 -----
.air-open-st-pub {
     
    h4 {
        line-height: .680412rem;
    }
    .explain {
        height: 1.175258rem;
        h2 {
            margin-bottom: .618557rem;
        }
        p {
            text-indent: 2em;
            width: 4.639175rem;
        }
    }
    .img-wrap { 
        padding-left: 1.56701rem;
        img {
            width: 1.474227rem;
            height: 1.474227rem;
        }
    }
}
// -------layaflash  start -------------
.layaflash {
    padding: .515464rem 0;
    background-color: $box-color1;
    .layaflash-img {
        width: 100%;
    }
    .layaflash-text {
        padding-left: .14433rem;
        width: 4.57732rem;
        h3 {
            margin-bottom: .536082rem;
        }
        p:last-of-type {
            margin-bottom: .257732rem;
        }
        .download {
            display: block;
            font-weight: 600;
            width: 1.030928rem;
            height: .350515rem;
            line-height: .350515rem;
            border-radius: .030928rem;
            mix-blend-mode: screen;
            background-color: $fontColor1; 
            text-align: center;
            text-decoration: none;
            font-size: .123711rem;
        }

    }
}
// -------layaflash  end  -------------


//  --------layaplayer start ------------
.layaplayer {
    background-color: $box-color2;
    padding: .701031rem 0;
    .layaplayer-title {
        margin-bottom: .206186rem;
    }
    .layaplayer-text-wrap {
        >div:nth-child(2) {
            padding-top: .309278rem;
        }
        >div:last-child {
           padding-top: 1.597938rem;
        }
        img {
            width: 100%;
        }
    }
}
// -------layaplayer  end  -------------


//  --------air-open start ------------
.air-open {
    background-color: $box-color3;
    padding: .515464rem 0;
}
// -------air-open  end  -------------


//  --------store-publish start ------------
.store-publish {
    background-color: $box-color4; 
    padding: .515464rem 0;
}
// -------store-publish  end  -------------

